
.btn-file {
    position: relative;
    overflow: hidden;
    border-width: 2px;
    border-color: #000;
    border-style: dashed;
    border-radius: 4px;
    margin: 30px;
    padding: 30px;
    width: 200px;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}